h1 {
	text-align:center;
	font-family:'Play', sans-serif;
	font-size:60px;
}

table {
	background-color:black;
	color:cornsilk;
	font-family: 'Play', sans-serif;
	width:100%;
	border: 5px solid silver;
}

th:hover, td:hover {
	background-color:red;
}

th {
	height:40px;
}
	
td {
	text-align:center;
}